.articulo-card-container{
    width: 100%;
    background-color: var(--color-primario-normal);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}

.articulo-card-buttons{
    display: flex;
    /* flex-direction: column; */
    gap: 24px;
    margin-inline-end: 20px;
}

.articulo-card-text{
    color: var(--color-text-fondo-oscuro);
    margin-block: auto;
    margin-inline-start: 20px;
}

