.ticket {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.ticket-header,
.ticket-body,
.ticket-footer {
    margin-bottom: 20px;
}

.ticket-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.no-comprobante {
    color: red;
    font-size: 12px;
    font-style: italic;
}

.ticket-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ticket-table th, .ticket-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.ticket-table th {
    background-color: #f5f5f5;
}

.ticket-footer {
    text-align: right;
}

.signature-line {
    margin-top: 20px;
}

.print-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ticket-header-right-group{
    text-align: end;
}

@media print {
    body * {
        visibility: hidden;
    }
    .ticket,
    .ticket * {
        visibility: visible;
    }
    .ticket {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        width: auto;
        height: auto;
        margin: auto;
    }
}
