.small-button {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .small-button-icon {
    font-size: 1.2rem;
  }
  
  .small-button-delete {
    color: var(--color-primario-hover);
  }
  
  .small-button-edit {
    color: var(--color-primario-hover);
  }
  
  .small-button-home {
    border-radius: 10px;
    min-width: 100px;
    color: var(--color-secundario-normal);
    padding: 10px 16px;
  }
  
  .small-button-delete:hover {
    color: var(--color-eliminar-normal);
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }
  
  .small-button-edit:hover {
    color: var(--color-enfasis-normal);
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }
  
  .small-button-home:hover {
    color: var(--color-fondo-blanco);
    background-color: var(--color-secundario-normal);
  }